body {
background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614627687_2-p-fon-gradient-dlya-fotoshopa-2.jpg);
background-size: 700%;
margin-left: 20%;
margin-right: 20%;
}

.phone {
border: darkblue 5px solid;
border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
background-color: LightSteelBlue;
text-align: center;
}

img {
width: 200px;
height: 200px;
}

.phone h2 {
border-bottom: violet 6px double;
color: DarkBlue;
}

.phone h3 {
color: Teal;
}

.phone-date {
font-size: smaller;
margin: 0;
font-style: italic;
}

.phone a {
text-decoration: none;
color: darkviolet;
}

.phone-detail-title-1 {
color: white;
border-bottom: white 5px double;
font-weight: normal;
}

.phone-detail-title-2 {
color: yellow;
border-bottom: greenyellow 3px solid;
font-weight: normal;
}

.price {
font-size: 30px;
font-weight: bold;
color: red;
}

.login-form input[type=submit], .signup-form input[type=submit], .password-change-form input[type=submit],
.password-reset-form input[type=submit]  {
font-weight: bold;
background-color: cornflowerblue;
color: cornsilk;
padding: 10px 20px;
font-size: 20px;
width: auto;
}

.login-form input, textarea, .signup-form input, .password-change-form input, .password-reset-form input  {
margin-bottom: 10px;
background-color: ghostwhite;
border: 0;
padding: 6px 10px;
font-size: 20px;
width: 30%;
}

.login-heading, .signup-heading, .password-change-heading, .password-reset-heading {
font-weight: normal;
border-bottom: 1px solid grey;
color: white;
}

.signup-heading, .password-change-para {
font-weight: normal;
border-bottom: 1px solid grey;
color: white;
}
.login-para, .signup-para, .password-reset-para{
font-size: 20px;
font-weight: bold;
color: white;
}

.nav h1 {
font-weight: normal;
color: white;
display: inline;
}

.login-logout-reg-nav {
float: right;
text-align: right;
}

.login-logout-reg-nav a {
text-decoration: none;
color: white;
}

.id_username {
color: white;
}


.login-form label,
.signup-form label,
.password-change-form label,
.password-reset-form label {

display: block;

font-size: 20px;

}

p{
color: white;}
