<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}
Phone Shop
{% endblock title %}
{% block content %}

{% for phone in phone_list %}
    <div class="phone">
        <h2>{{ phone.title }}</h2>
        {% if phone.image %}
        <img src="{{ phone.image.url }}">
        {% endif %}
        <p>Смартфон добавлен пользователем {{ phone.owner }} {{ phone.created }}</p>
        <p>Дата последнего обновления записи: {{ phone.updated }}</p>
        <h3>Описание </h3> <p>{{ phone.description }}</p>
{% endfor %}



{% endblock content %}
</body>
</html>