<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Phones</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}
Phone Shop
{% endblock title %}
{% block content %}
<div class="nav">

<h1>Store phones</h1>
    <div class="login-logout-reg-nav">
        {% if user.is_authenticated %}
        Добро пожаловать, {{ user }}
        <br><a href="{% url 'logout' %}">Выйти из аккаунта</a>
        {% else %}
         <a href="{% url 'login' %}">Войти на сайт</a><br>
         <a href="{% url 'sign_up' %}">Зарегистироваться</a>
        {% endif %}
    </div>
{% for phone in phone_list %}
    <div class="phone">
        <h2><a href="{{ phone.get_absolute_url }}">{{ phone.title }}</a></h2>
        {% if phone.image %}
        <a href="{{ phone.get_absolute_url }}"><img src="{{ phone.image.url }}"></a>
        {% endif %}
        <p class="phone-date">Смартфон добавлен пользователем {{ phone.owner }} {{ phone.created }}</p>
        <p class="phone-date">Дата последнего обновления записи: {{ phone.updated }}</p>
        <h3>Описание </h3> <p>{{ phone.description }}</p>
        <p>{{ phone.description | truncatewords:20 }}</p>
         </div>
{% endfor %}



{% endblock content %}
</body>
</html>