<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
</head>
<body>
<h1>Cписок дел на неделю(ТЕСТ)</h1>

 <ol>

      <li><a href="monday">Понедельник</a> </li>

      <li><a href="tuesday">Вторник</a> </li>
      <li><a href="wednesday">Среда</a> </li>
      <li><a href="thursday">Четверг</a> </li>
      <li><a href="friday">Пятница</a> </li>
      <li><a href="saturday">Суббота</a> </li>
       <li><a href="sunday">Воскресенье</a> </li>
 </ol>

</body>
</html>