{% extends 'base.html' %}

{% block title %}
Справочник -- Краснодар
{% endblock %}
{% block content %}
<h1>Краснодар</h1>
<p> 
 Краснодар – столица Краснодарского края. Он
    раскинулся на берегу реки Кубань. До побережья
    Черного моря отсюда всего 120 километров, до
    Азовского моря – 140 километров. От Москвы до
    кубанской столицы – 1300 километров. Города соединяет
    трасса М4 «Дон». Неофициально Краснодар называют
    «столицей Юга России». В отличие от многих других
    региональных центров страны, в нем растет численность
    населения. </p>

{% endblock %}