{% extends 'base.html' %}

{% block title %}
Справочник -- Курск
{% endblock %}
{% block content %}
<h1>Курск</h1>
<p>  Курск, город в России, адм. центр Курской обл. и
    муниципального района, образует городской округ.
    Население 451,0 тыс. чел. (на 1.1.2021).
    Расположен в центр. части области, на р. Тускарь,
    в месте её впадения в р. Сейм. Ж.-д. узел.
    Через К. проходит федеральная автотрасса «Крым»
    (Москва – Тула – Курск – Орёл – Белгород – граница с Украиной). </p>

{% endblock %}