{% extends 'base.html' %}

{% block title %}
Справочник -- Санкт-Петербург
{% endblock %}
{% block content %}
<h1>Санкт-Петербург</h1>
<p>  Город Санкт-Петербург, имперская столица России.
    Город был основан 16 мая 1703 года Петром Первым.
    Санкт-Петербург является олицетворением могущества и
    величия России. Огромное количество памятников архитектуры
    передают неповторимый стиль Северной столицы России.
    Санкт-Петербург является выражением выбранного западного
    вектора развития империи.  </p>

{% endblock %}