{% extends 'base.html' %}

{% block title %}
Справочник -- Севастополь
{% endblock %}
{% block content %}
<h1>Севастополь</h1>
<p>  Севастополь — главная база Черноморского флота,
    символ мужества и героизма русских моряков.
    Основанный в 1783 году русским контр-адмиралом
    шотландского происхождения Фомой Фомичем Мекензи
    по указу Екатерины II этот город неоднократно показывал
    всему миру что такое настоящая доблесть: две «обороны
    Севастополя» — во время Крымской и Великой Отечественной войн
    — навечно вписаны в историю военной славы.</p>

{% endblock %}