{% extends 'base.html' %}

{% block title %}
Справочник -- Воронеж
{% endblock %}
{% block content %}
<h1>Воронеж</h1>
<p>
Город Воронеж был основан в 1585 году на берегу реки Ворона,
    вокруг которой росли сосновые боры, густые чащи лиственных
    лесов, где водилось много кабанов, лосей, бобров, на лесных
    полянах всегда было много ягод. А в реке — много рыбы. Люди
    жили в основном за счёт рыбного промысла, но у них были и
    прирученные животные, они умели сажать овощи и собирать мёд,
    возделывать участки земли и ковать орудия труда. Воронеж-колыбель
    русского флота. </p>

{% endblock %}